<script setup lang="ts">
import { useAddressBookStore } from '@/stores/addressBookStore'

const addressBookStore = useAddressBookStore()
</script>

<template>
  <div>
    <button @click="addressBookStore.isAddNew = !addressBookStore.isAddNew">Add</button>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>gender</th>
        <th>Tel</th>
      </tr>
      <tr v-for="ad of addressBookStore.addressList" :key="ad.id">
        <td>{{ ad.id }}</td>
        <td>{{ ad.name }}</td>
        <td>{{ ad.gender }}</td>
        <td>{{ ad.tel }}</td>
        <td class="button">
          <button @click="addressBookStore.edit(ad.id)">Edit</button>
          <button @click="addressBookStore.remove(ad.id)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
</template>

<style scoped>
input,
select,
label,
button {
  font-size: 20px;
  font-family: 'Kanit';
  margin: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}


tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #04AA6D;
  color: white;
}
</style>
