<script setup lang="ts">
import MessageList from '@/components/MessageList.vue';
import MessageBox from '@/components/MessageBox.vue';
import { nextTick, ref } from 'vue';
const messages = ref<string[]>([])
const messageList = ref<typeof MessageList|null>(null)
const answers = ['Hello.', 'How are you today?.', 'I already have a boyfriend.', 'Aww you are so cute.']

function send(message: string) {
  messages.value.push(message)
  answerWithComputer()
}
function answerWithComputer(){
    const answer = answers[Math.floor(Math.random()*10000)%answers.length]
    messages.value.push(answer)
    nextTick(() => {
      messageList.value?.updateUI()
    })
}
</script>

<template>
  <div>
    <MessageList ref="messageList" :messages="messages"></MessageList>
    <MessageBox @send="send"></MessageBox>
  </div>
</template>
