<script setup lang="ts">
import { provide, ref } from 'vue';
import DummyComponent from '../components/DummyComponent.vue';
const num1 = ref(0)
provide('num1', num1)
provide('num1Click', num1Click)
function num1Click() {
  num1.value++
}
</script>

<template>
  <div style="text-align: center">
    <img style="width: 300px; height: 190px; border-radius: 50%" src="../assets/pupy.png" alt="puppy">
    <h3>Hello Pupies</h3>
    {{ num1 }}
    <DummyComponent></DummyComponent>
  </div>

</template>
