<script setup lang="ts">
import { ref } from 'vue';
import NumberButton from '../components/NumberButton.vue';
const num1 = ref(0)
function num1Click(num:number) {
  console.log('Num1 Click '+num)
  num1.value = num
}
</script>

<template>
  <div style="text-align: center">
    <img style="width: 300px; height: 190px; border-radius: 50%" src="../assets/pupy.png" alt="puppy">
    <h3>Hello Pupies</h3>
    {{ num1 }}<NumberButton :num="1" @numClick="num1Click"></NumberButton>
    <NumberButton :num="2"></NumberButton>
    <NumberButton :num="3" :inc="5"></NumberButton>
  </div>

</template>
